:root {
  --black: #222222;
  --pink-bkg: #F1E4E6;
  --light-pink-bkg: #F8F8F8;
  --black-text: #000000;
  --pink-text: #F1808F;
  --white: #FFFFFF;
  --light-gray-text: #FBFBFB;
  --grey-text: #9F9F9F;
  --red-text: #F16D7F;
  --pink-bdr: #FF6A6A;
}

body {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.header {
  background-color: var(--black);
}

.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__button {
  background-color: transparent;
  border: 0;
}

.header__link {
  margin: 0 0 0 33px;
}

.header__menu {
  display: none;
}

.brand {
  display: flex;
  background-color: var(--pink-bkg);
  margin: 0 0 63px 0;
}

.brand__title-wrp {
  display: flex;
  align-items: center;
  padding: 0 0 0 92px;
  flex-grow: 1;
}

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: var(--black);
  text-transform: uppercase;
}
.brand__sub-title {
  display: block;
  font-size: 32px;
  line-height: 38px;
}

.brand__sub-title-pink {
  color: var(--pink-text)
}
.sales__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.sales__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sales__item_woman {
  background-image: url('../img/for_woman.jpg');
  background-size: cover;
}

.sales__item_man {
  background-image: url('../img/for_man.jpg');
  background-size: cover;
}

.sales__item_kids {
  background-image: url('../img/for_kids.jpg');
  background-size: cover;
}

.sales__item_shoose {
  background-image: url('../img/accerories.jpg');
  background-size: cover;
  margin: 30px 0 0 0;
  min-height: 180px;
  width: 1140px;
}

.sales__item-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--white);
}

.sales__item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--pink-text);
}

.products__title {
  margin: 96px 0 6px;
  text-align: center;
  line-height: 36px;
  font-size: 30px;
  color: var(--black);
}

.products__desk {
  margin: 0 0 48px;
  text-align: center;
  color: var(--grey-text);
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  background-color: var(--light-pink-bkg);
  width: 360px;
  min-height: 420px;
  margin: 0 0 30px;
}

.products__item-wrp {
  padding: 25px 16px 20px 16px;
}

.products__item-title {
  margin: 0 0 13px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: var(--black-text);
}

.products__item-desk {
  margin: 0 0 18px;
  font-weight: 300;
  color: var(--grey-text)
}

.products__item-pri—Åe {
  font-size: 16px;
  line-height: 19px;
  color: var(--red-text);
}

.products__button {
  display: block;
  margin: 19px auto 100px;
  padding: 14px 39px;
  border: 1px solid var(--pink-bdr);
  background-color: transparent;
  color: var(--red-text);
  font-size: 16px;
  line-height: 19px;
}

.offer {
  display: flex;
  align-items: center;
  background-color: var(--black);
  min-height: 341px;
}

.offer__list {
  display: flex;
  justify-content: space-between;
}

.offer__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer__item-img {
  margin: 0 0 28px;
}

.offer__item-title {
  color: var(--light-gray-text);
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 16px;
  text-align: center;
}

.offer__item-desc {
  color: var(--light-gray-text);
  font-weight: 300;
  font-size: 13.972px;
  text-align: center;
}

.subscription {
  display: flex;
  align-items: center;
  background-image: url('../img/background-subscribe.jpg');
  background-size: cover;
  min-height: 448px;
}

.subscription__container {
  display: flex;
  justify-content: space-between;
}

.subscription__wrp {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription__photo {
  width: 96px;
  margin: 0 0 30px;
}

.subscription__photo-desc {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: var(--black);
}

.subscription__photo-desc-italic {
  font-style: italic;
}

.subscription__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.subscription__sub-title {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
}

.copyright {
  background-color: var(--black);
  min-height: 79px;
  display: flex;
  align-items: center;
}

.copyright__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__desc {
  font-size: 16px;
  line-height: 19px;
  color: var(--light-gray-text);
}

.copyright__socials {
  display: flex;
}

.copyright__socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 7px;
  width: 32px;
  height: 32px;
  background-color: var(--white);
}

















