$black: #222222;
$pink-bkg: #F1E4E6;
$pink-bkg-light: #F8F3F4;
$light-pink-bkg: #F8F8F8;
$black-text: #000000;
$pink-text: #F1808F;
$white: #FFFFFF;
$light-gray-text: #FBFBFB;
$grey-text: #9F9F9F;
$red-text: #F16D7F;
$red-hover: #E05C6E;
$pink-bdr: #FF6A6A;
$pink-line: #EF5B70;
$grey-filter: rgba(58, 56, 56, 0.86);
$grey-input: #E1E1E1;
$grey-input-text: #222224;
$grey-placeholder: #222224a1;
$grey-reg-input: #A4A4A4;
$grey-cart-input: #EAEAEA;
$light-black-text: #575757;
$grey-button: rgba(42, 42, 42, 0.15);

$tablet-width: 1599px;
$mobile-width: 767px;