.brand {
  display: flex;
  background-color: $pink-bkg;
  margin: 0 0 63px 0;

  &__title-wrp {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
    flex-grow: 1;
  }

  &__title {
    @include font(48px, 58px, 900);
    color: $black;
    text-transform: uppercase;
  }

  &__sub-title {
    display: block;
    font-size: 32px;
    line-height: 38px;
  }

  &__sub-title-pink {
    color: $pink-text;
  }
}