.catalog {

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @include mobile {
      grid-template-columns: 1fr;
      grid-gap: 32px;
    }
  }

  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-end;

    @include mobile {
      justify-content: center;
    }
  }
  
  &__title-wrp {
    display: flex;
    align-items: center;
    background-color: $pink-bkg-light;
    min-height: 148px;
  }

  &__title {
    @include font(24px, 29px);
    text-transform: uppercase;
    color: $red-text;
  }

  &__nav-item {
    text-transform: uppercase;
    text-decoration: none;
    color: $grey-text;
    @include font(14px, 17px, 300);

    &_active {
      color: $red-text;
      @include font(14px, 17px, 700);
    }
  }

  &__filter {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding-top: 51px;
    padding-bottom: 64px;
    cursor: pointer;
  }

  &__filter-btn {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: flex-start;
    align-items: center;
    grid-gap: 11px;
    background: transparent;
    border: none;
    text-transform: uppercase;
    @include font(14px, 17px, 600);
    color: $black-text;

    &:hover {
      color: $red-hover;

      .catalog__btn-img {
        fill: $red-hover;
      }
    }

    &:focus {
      outline: 1px solid $red-hover;
    }
  }

  &__filter-text {
    @include mobile {
      display: none;
    }
  }

  &__btn-img {
    fill: $black-text;

    @include mobile {
      width: 38px;
      height: 25px;
    }
  }

  &__filter-categories {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: flex-start;
    grid-gap: 27px;

    @include mobile {
      grid-gap: 23px;
    }
  }

  &__filter-select {
    text-transform: uppercase;
    color: $grey-filter;
    border: none;
    background-color: transparent;
    cursor: pointer;
    @include font(14px, 17px, 400);

    &:focus {
      outline: 1px solid $red-hover;
    }

    @include mobile {
      @include font(12px, 14px, 400);
    }
  }

  &__pagination {
    margin: 0 auto 96px;
    width: 283px;
    border: 1px solid $grey-input;
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
  }

  &__pagination-list {
    display: grid;
    grid-template-columns: 1fr repeat(6, 2fr);
  }

  &__pagination-item {
    display: block;
    text-decoration: none;
    text-align: right;
    color: $grey-input;
    @include font(16px, 19px, 300);

    &_active {
      color: $red-text;
    }

    &_last {
      text-align: left;
    }
  }

  &__pagination-btn-img {
    fill: $black-text;
  }

  &__pagination-btn {
    text-align: center;
    border: none;
    background-color: transparent;
    height: 16px;
    padding: 0;

    &:hover {

      .catalog__pagination-btn-img {
        fill: $red-hover;
      }  
    }

    &:focus {
      outline: 1px solid $red-hover;
    }
  }
}