.copyright {
  background-color: $black;
  min-height: 79px;
  display: flex;
  align-items: center;

  @include mobile {
    min-height: 143px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 19px;
    color: $light-gray-text;

    @include mobile {
      margin: 40px 0 0 0;
      width: 100%;
      text-align: center;
    }
  }

  &__socials {
    display: flex;
  }

  &__socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 7px;
    width: 32px;
    height: 32px;
    background-color: $white;
    transition: background-color 0.5s;

    &:hover {
      background-color: $red-text;

      &>.copyright__socials-item-img {
        fill: $white;
      }
    }

    &:active {
      background-color: $red-text;
    }

    &:focus {
      background-color: $white;
      outline: none;
      
      &>.copyright__socials-item-img {
        fill: $red-text;
      }
    }
  }

  &__socials-item-img {
    fill: $black-text;
    transition: fill 0.5s;
  }

}