.offer {
  display: flex;
  align-items: center;
  background-color: $black;
  min-height: 341px;

  &__list {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      align-items: center;
      margin: 0 0 64px 0;
    }
  }

  &__item {
    width: 360px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include tablet {
      margin: 48px 0 0 0;
    }
  }

  &__item-img {
    margin: 0 0 28px;
  }

  &__item-title {
    color: $light-gray-text;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 16px;
    text-align: center;
  }

  &__item-desc {
    color: $light-gray-text;
    font-weight: 300;
    font-size: 13.972px;
    text-align: center;
  }
}