.shopping-cart {

  &__title-wrp {
    display: flex;
    align-items: center;
    background-color: $pink-bkg-light;
    min-height: 148px;
  }

  &__title {
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: $red-text;
  }

  &__wrp {
    display: flex;
    margin: 96px auto 128px;
  }

  &__form-sales {
    width: 652px
  }

  &__sales-item {
    display: flex;
    width: 100%;
    min-height: 306px;
    margin: 0 0 40px;
    box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
  }

  &__sales-item-img {
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &__sale-info {
    flex-grow: 1;
    padding: 22px 150px 22px 31px;
  }

  &__sale-title {
    text-transform: uppercase;
    @include font(24px, 29px);
    margin-bottom: 42px;
    color: $black;
  }

  &__sale-info-item {
    display: flex;
    align-items: center;
    @include font(22px, 26px);
    color: $light-black-text;
    margin: 0 0 6px;
  }

  &__sale-price {
    color: $red-text;
  }

  &__sale-info-input {
    margin: 0 0 0 24px;
    width: 44px;
    border: solid $grey-cart-input 1px;
    @include font(18px, 22px);
    text-align: center;
  }

  &__buttons-wrp {
    margin: 32px 0 0 0;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background-color: transparent;
    border: solid 2px $grey-reg-input;
    padding: 17px 40px;
    text-transform: uppercase;
    @include font(14px, 17px, 300);
    color: $black-text;
  }
}